# Supabase → Settings → Database → Connection string (mode: Session, port 5432)
SPRING_DATASOURCE_URL=jdbc: sua url
SPRING_DATASOURCE_USERNAME= seu username
SPRING_DATASOURCE_PASSWORD= sua senha

API_SECURITY_TOKEN_SECRET=8fK#vQ2mL@9xTz!A7rP$uN5wE&cY1hJkL0sDfG^bNmQ4vXzR!pT8yHcW3mQa
POKEMON_TCG_API_KEY=